html,
body,
page,
uni-page-body {
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

#app {
  height: 100%;
  margin: 0 auto;
  font-size: 1.3rem;
  font-family: -apple-system, Akkurat, Arial, Helvetica, Verdana, sans-serif;
}

@media screen and (min-width: 1024px) {
  #app {
    max-width: 640px;
    font-size: 0.8rem;
  }
}

