html,
body,
#__nuxt {
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

main {
  height: 100%;
  margin: 0 auto;
  font-size: 1.3rem;
  font-family: -apple-system, Akkurat, Arial, Helvetica, Verdana, sans-serif;
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 640px;
    font-size: 0.8rem;
  }
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}
