html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

#app {
  height: 100%;
  margin: 0 auto;
  font-size: 1.3rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@media screen and (min-width: 1024px) {
  #app {
    max-width: 640px;
    font-size: 0.8rem;
  }
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
