html,
body {
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

#app {
  height: 100%;
  margin: 0 auto;
  font-size: 1.3rem;
}

@media screen and (min-width: 1024px) {
  #app {
    max-width: 640px;
    font-size: 0.8rem;
  }
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}
